@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../res/fonts/Gilroy-ExtraBold.otf");
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebf5f4;
  background-image: url("../res/svg/diver-studio-web-background-dust.svg");
  background-size: contain;
  background-repeat: repeat;
  color: #006d77;
  font-family: "Gilroy Bold";
  width: 100%;
}

h1 {
  font-family: "Gilroy Bold";
  font-size: 3rem;
}

h2 {
  font-family: "Gilroy Bold";
  font-size: 2rem;
}

h3 {
  font-family: "Gilroy Bold";
  font-size: 1.5rem;
  color: #f6bd35;
}

h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  color: #f6bd35;
}

p {
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.5;
}

.section, header, footer {
  padding: 3.5rem 10rem;
}

a {
  text-decoration: none;
  color: #006d77;
  font-family: "Montserrat";
  font-weight: 500;
}

a, li {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.8rem;
}

.button {
  border: 1px solid #006d77;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button:hover {
  background-color: #006d77;
  color: #ebf5f4;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #ebf5f4;
  border-radius: 5px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #006d77;
  border-radius: 5px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #f6bd35;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes shake {
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-down {
  0% {
    top: 0%;
  }
  20% {
    top: -60%;
  }
  40% {
    top: -200%;
  }
  60% {
    top: -300%;
  }
  80% {
    top: -400%;
  }
  100% {
    top: -500%;
  }
}
@keyframes horizMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
}
#nav .logo img {
  width: 3.5rem;
}
#nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
#nav .navLinks {
  gap: 3rem;
}
#nav .navLinks a {
  position: relative;
  padding-bottom: 1rem;
}
#nav .navLinks a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 0;
  height: 2px;
  background-color: #f6bd35;
  transition: all 0.3s ease;
}
#nav .navLinks a:hover::before {
  width: 100%;
}
#nav .langs {
  padding-bottom: 0.8rem;
}
#nav .langs li {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.5rem;
}
#nav .langs li:hover {
  border: 1px solid #f6bd35;
  border-radius: 50%;
}
#nav .langs .selected {
  background-color: #f6bd35;
  color: #ebf5f4;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#nav .langs .selected:hover {
  transform: scale(1.1);
}

#mobileNav {
  display: none;
}

.hero {
  display: flex;
}
.hero .hero-left {
  flex: 1;
}
.hero .hero-left h1 {
  margin-bottom: 4rem;
}
.hero .hero-left .hero-services {
  height: 40px;
  overflow: hidden;
}
.hero .hero-left h2 {
  -webkit-text-stroke-color: #006d77;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.05rem;
  margin-bottom: 5px;
  transform: translateY(-1rem);
  position: relative;
  font-size: 2em;
  animation: slide-down 7s infinite;
}
.hero .hero-left .cta {
  display: flex;
  gap: 1.5rem;
  margin-top: 5rem;
}
.hero .hero-left .cta .cta-quote {
  background-color: transparent;
}
.hero .hero-left .cta .cta-quote:hover {
  background-color: #006d77;
}
.hero .hero-left .cta .cta-call {
  background-color: #f6bd35;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: scale 1.5s infinite;
}
.hero .hero-left .cta .cta-call img {
  width: 1.5rem;
  animation: shake 0.5s infinite;
}
.hero .hero-left .cta .cta-call:active {
  background-color: white;
}
.hero .hero-right {
  flex: 1;
}
.hero .hero-right .hero-image img {
  max-width: 120%;
  animation-name: float;
  animation-duration: 3s; /* set the duration of the animation */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.sm {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}
.sm img {
  height: 1.2rem;
  cursor: pointer;
}
.sm img:nth-child(3) {
  height: 1rem;
}
.sm img:hover {
  animation: shake 0.5s;
}

#services {
  position: relative;
}
#services .services-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4rem;
}
#services .services-header .services-headline {
  flex: 1;
}
#services .services-header .services-description {
  flex: 1;
}
#services .services-header .services-description p {
  width: 70%;
  float: right;
}
#services .services-cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  perspective: 900px;
}
#services .services-cards .card-box {
  width: 100%;
}
#services .services-cards .card-box:hover .card {
  transform: rotateY(180deg);
}
#services .services-cards .card {
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  transition: all 0.8s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  cursor: pointer;
}
#services .services-cards .card .card-front {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 2px solid #006d77;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#services .services-cards .card .card-front .card-icon {
  position: relative;
  margin-top: -1rem;
}
#services .services-cards .card .card-front .card-icon img:nth-child(2) {
  width: 2rem;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
#services .services-cards .card .card-front h3 {
  color: #006d77;
  font-size: 1.3rem;
  margin-top: -2rem;
}
#services .services-cards .card .card-back {
  background-color: #006d77;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .services-cards .card .card-back p {
  color: #ebf5f4;
  font-size: 0.8rem;
  text-align: center;
  width: 70%;
}
#services .goToTop {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}
#services .goToTop img {
  width: 1rem;
}
#services .goToTop:hover {
  background-color: #f6bd35;
  transform: scale(1.2);
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#projects .projects-header {
  text-align: center;
}
#projects .projects-slideBtns {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
#projects .projects-slideBtns .navigationBtn {
  width: 2.5rem;
  height: 2.5rem;
  border: 1.8px solid #006d77;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  cursor: pointer;
}
#projects .projects-slideBtns .navigationBtn img {
  width: 0.5rem;
}
#projects .projects-slideBtns .navigationBtn:hover {
  background-color: white;
}
#projects .projects-slideBtns .leftBtn img {
  transform: rotate(-180deg);
}
#projects .projects-slider {
  width: 40rem;
  height: 25.5rem;
  border: 3px solid #006d77;
  border-radius: 30px;
  overflow: hidden;
}
#projects .projects-slider .slider-carousel {
  width: 100%;
  display: flex;
  transition: all 0.4s ease;
}
#projects .projects-slider .slider-carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .projects-infoSlider {
  display: flex;
  width: 40rem;
  overflow: hidden;
}
#projects .slider-infoCarousel {
  width: 100%;
  display: flex;
  transition: all 0.4s ease;
}
#projects .projects-info {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#projects .projects-info .project-logo img {
  transform: translateY(5px);
  width: 6rem;
}
#projects .projects-cta {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
#projects .projects-cta .cta-call {
  background-color: #006d77;
  color: #ebf5f4;
}
#projects .projects-cta .cta-call:hover {
  background-color: transparent;
  color: #006d77;
}

.slogan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
}
.slogan .slogan-hero {
  width: -moz-fit-content;
  width: fit-content;
}
.slogan .slogan-hero img {
  width: 80%;
}
.slogan .slogan-description {
  width: -moz-fit-content;
  width: fit-content;
}
.slogan .slogan-description p {
  margin-top: 2rem;
  width: 85%;
}

.testimonials {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.testimonials .testimonials-box {
  background-color: white;
  width: 50%;
  border-radius: 12px;
  padding: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.testimonials .testimonials-box .testimonials-carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.testimonials .testimonials-box .testimonial {
  width: 100%;
  flex-shrink: 0;
  transition: all 0.4s ease;
}
.testimonials .testimonials-box h3, .testimonials .testimonials-box h4 {
  color: #006d77;
}
.testimonials .testimonials-box h3 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
.testimonials .testimonials-box h4 {
  font-size: 0.9rem;
}
.testimonials .testimonials-box p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-top: 3rem;
}

.clients {
  width: 100%;
  display: flex;
  gap: 3rem;
  overflow: hidden;
}
.clients .clients-line {
  display: flex;
  gap: 3rem;
  animation: horizMove 20s linear infinite;
}
.clients .clients-line img {
  width: 4rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer a {
  font-size: 0.9rem;
}
footer .column1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .column1 #logo {
  width: 3.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
footer .column1 .line {
  display: flex;
  gap: 1rem;
}
footer .column1 .line img {
  width: 1.5rem;
}
footer .column2 {
  list-style: none;
  display: flex;
  gap: 4rem;
}
footer .column2 a:hover {
  font-weight: 700;
  color: #f6bd35;
}
footer .column3 .social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .column3 .social img {
  width: 1rem;
}
footer .column3 .social img:hover {
  animation: shake 0.5s;
}
footer .column3 .social a:nth-child(1) img {
  width: 0.7rem;
}
footer .column3 .social a:nth-child(3) img {
  width: 1.2rem;
}
footer .column3 h5 {
  font-size: 1rem;
  margin-top: 1rem;
  transition: all 0.5s ease;
}
footer .column3 h5:hover {
  animation: shake 0.5s;
}

@media only screen and (max-width: 415px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  .section, header, footer {
    padding: 2.5rem 2rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h4 {
    line-height: 1.6;
  }
  p {
    font-size: 0.9rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .button {
    padding: 1rem;
  }
  #nav {
    display: none;
  }
  #mobileNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mobileNav #mobileNav-logo img {
    width: 3rem;
  }
  #mobileNav #mobileNav-btn img {
    width: 1.3rem;
  }
  #mobileNav .mobileNav-menu {
    background-color: #006d77;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    transform: translateY(-100vh);
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  #mobileNav .mobileNav-menu #close {
    width: 1.3rem;
    position: absolute;
    top: 3.5rem;
    right: 2rem;
  }
  #mobileNav .mobileNav-menu .navLinks {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }
  #mobileNav .mobileNav-menu .navLinks a {
    color: #ebf5f4;
  }
  #mobileNav .mobileNav-menu .navLinks li {
    text-align: center;
    font-size: 1.1rem;
  }
  #mobileNav .mobileNav-menu .callBtn {
    background-color: #f6bd35;
    padding: 0.5rem;
    border-radius: 50%;
    animation: scale 1.5s infinite;
  }
  #mobileNav .mobileNav-menu .callBtn img {
    animation: shake 0.5s infinite;
    width: 2rem;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero .hero-left h1 {
    margin-bottom: 2.5rem;
  }
  .hero .hero-left .cta {
    display: flex;
    justify-content: space-between;
    gap: inherit;
    margin-top: 2.5rem;
  }
  .hero .hero-right .hero-image img {
    max-width: 100%;
  }
  .sm {
    align-self: flex-start;
  }
  .sm img {
    height: 1rem;
  }
  .sm img:nth-child(3) {
    height: 0.8rem;
  }
  #services .services-header {
    flex-direction: column;
    justify-content: inherit;
    align-items: inherit;
    gap: 2rem;
    margin-bottom: 4rem;
  }
  #services .services-header .services-description p {
    width: 100%;
    float: inherit;
  }
  #services .services-cards {
    flex-direction: column;
    justify-content: center;
  }
  #services .goToTop {
    bottom: 2rem;
    right: 2rem;
  }
  #projects .projects-slideBtns {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  #projects .projects-slideBtns .navigationBtn {
    width: 2.5rem;
    height: 2.5rem;
    border: 1.8px solid #006d77;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  #projects .projects-slideBtns .navigationBtn img {
    width: 0.5rem;
  }
  #projects .projects-slideBtns .navigationBtn:hover {
    background-color: white;
  }
  #projects .projects-slideBtns .leftBtn img {
    transform: rotate(-180deg);
  }
  #projects .projects-slider {
    width: 18rem;
    height: 11.5rem;
    border-radius: 18px;
  }
  #projects .projects-infoSlider {
    width: 18rem;
    text-align: center;
  }
  #projects .projects-info {
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    gap: 1rem;
  }
  #projects .projects-cta {
    width: 18rem;
    margin-top: 0;
  }
  .slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .slogan .slogan-hero img {
    width: 80%;
  }
  .slogan .slogan-description {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .slogan .slogan-description p {
    width: 100%;
  }
  .testimonials {
    gap: 3rem;
  }
  .testimonials .testimonials-box {
    width: 100%;
    padding: 3rem 2rem;
  }
  .testimonials .testimonials-box h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .testimonials .testimonials-box h4 {
    font-size: 0.8rem;
  }
  .testimonials .testimonials-box p {
    font-size: 0.8rem;
    margin-top: 1rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  footer .column1 {
    align-items: center;
    gap: 2rem;
  }
  footer .column1 #logo {
    width: 3rem;
  }
  footer .column2 {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */