@import 'basic';
header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
    .logo{
        img{
            width: 3.5rem;
        }
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .navLinks{
        gap: 3rem;
        a{
            position: relative;
            padding-bottom: 1rem;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0%;
                width: 0;
                height: 2px;
                background-color: $middle_clr;
                transition: all 0.3s ease;
            }
            &:hover::before {
                width: 100%;
            }
        }
    }
    .langs{
        padding-bottom: .8rem;
        li{
            cursor: pointer;
            border: 1px solid transparent;
            padding: .5rem;
            &:hover{
                border: 1px solid $middle_clr;
                border-radius: 50%;
            }
        }
        .selected {
            background-color: $middle_clr;
            color: $light_clr;
            font-weight: bold;
            padding: .5rem;
            border-radius: 50%;
            transition: all .3s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
#mobileNav{
    display: none;
}
.hero{
    display: flex;
    .hero-left{
        flex: 1;
        h1{
            margin-bottom: 4rem;
        }
        .hero-services{
            height: 40px;
            overflow: hidden;
        }
        h2{
            -webkit-text-stroke-color: $dark_clr;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: .05rem;
            margin-bottom: 5px;
            transform: translateY(-1rem);
            position: relative;
            font-size: 2em;
            animation: slide-down 7s infinite;
        }
        .cta{
            display: flex;
            gap: 1.5rem;
            margin-top: 5rem;
            .cta-quote{
                background-color: transparent;
            &:hover{
                background-color: $dark_clr;
            }
            }
            .cta-call{
                background-color: $middle_clr;
                width: fit-content;
                padding: 1rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                animation: scale 1.5s infinite;
                img{
                    width: 1.5rem;
                    animation: shake .5s infinite;
                }
                &:active{
                    background-color: white;
                }
            }
        }
    }
    .hero-right{
        flex: 1;
        .hero-image{
            img{
                max-width: 120%;
                animation-name: float;
                animation-duration: 3s; /* set the duration of the animation */
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
        }
    }
}
.sm{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
    img{
        height: 1.2rem;
        cursor: pointer;
        &:nth-child(3){
            height: 1rem;
        }
        &:hover{
            animation: shake .5s;
        }
    }
}
#services{
    position: relative;
    .services-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 4rem;
        .services-headline{
            flex: 1;
        }
        .services-description{
            flex: 1;
            p{
                width: 70%;
                float: right;
            }
        }
    }
    .services-cards{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        perspective: 900px;
        .card-box{
            width: 100%;
            &:hover .card{
                transform: rotateY(180deg);
            }
        }
        .card{
            position: relative;
            transform-style: preserve-3d;
            width: 100%;
            height: 10rem;
            border-radius: 10px;
            transition: all .8s cubic-bezier(.7, -.5, .3, 1.8);
            cursor: pointer;
            .card-front{
                background-color: white;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                backface-visibility: hidden;
                border-radius: 10px;
                border: 2px solid $dark_clr;
                display: flex;
                flex-direction: column;
                align-items: center;
                .card-icon{
                    position: relative;
                    margin-top: -1rem;
                    img{
                        &:nth-child(2){
                            width: 2rem;
                            position: absolute;
                            top: 50%;
                            left: 48%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                h3{
                    color: $dark_clr;
                    font-size: 1.3rem;
                    margin-top: -2rem;
                }
            }
            .card-back{
                background-color: $dark_clr;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: $light_clr;
                    font-size: .8rem;
                    text-align: center;
                    width: 70%;
                }
            }
        }
    }
    .goToTop{
        position: fixed;
        bottom: 3rem;
        right: 3rem;
        background-color: white;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: all .5s ease;
        img{
            width: 1rem;
        }
        &:hover{
            background-color: $middle_clr;
            transform: scale(1.2);
        }
    }
}
#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .projects-header{
        text-align: center;
    }
    .projects-slideBtns{
        display: flex;
        justify-content: center;
        gap: 3rem;
        .navigationBtn{
            width: 2.5rem;
            height: 2.5rem;
            border: 1.8px solid $dark_clr;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s ease;
            cursor: pointer;
            img{
                width: .5rem;
            }
            &:hover{
                background-color: white;
            }
        }
        .leftBtn{
            img{
                transform: rotate(-180deg);
            }
        }
    }
    .projects-slider{
        width: 40rem;
        height: 25.5rem;
        border: 3px solid $dark_clr;
        border-radius: 30px;
        overflow: hidden;
        .slider-carousel{
            width: 100%;
            display: flex;
            transition: all 0.4s ease;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }    
        }
    }
    .projects-infoSlider{
        display: flex;
        width: 40rem;
        overflow: hidden;
    }
    .slider-infoCarousel{
        width: 100%;
        display: flex;
        transition: all 0.4s ease;
    }
    .projects-info{
        width: 100%;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .project-logo{
            img{
                transform: translateY(5px);
                width: 6rem;
            }
        }
    }
    .projects-cta{
        width: 40rem;
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        .cta-call{
            background-color: $dark_clr;
            color: $light_clr;
            &:hover{
                background-color: transparent;
                color: $dark_clr;
            }
        }
    }
}
.slogan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8rem;
    .slogan-hero{
        width: fit-content;
        img{
            width: 80%;
        }
    }
    .slogan-description{
        width: fit-content;
        p{
            margin-top: 2rem;
            width: 85%;
        }
    }
}
.testimonials{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .testimonials-box{
        background-color: white;
        width: 50%;
        border-radius: 12px;
        padding: 3rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        .testimonials-carousel{
            width: 100%;
            display: flex;
            overflow: hidden;
        }
        .testimonial{
            width: 100%;
            flex-shrink: 0;
            transition: all 0.4s ease;
        }
        h3, h4 {
            color: $dark_clr;
        }
        h3{
            font-size: 1.3rem;
            margin-bottom: .8rem;
        }
        h4{
            font-size: .9rem;
        }
        p{
            font-size: .9rem;
            line-height: 1.6;
            margin-top: 3rem;
        }
    }
}
.clients{
    width: 100%;
    display: flex;
    gap: 3rem;
    overflow: hidden;
    .clients-line{
        display: flex;
        gap: 3rem;
        animation: horizMove 20s linear infinite;
        img{
            width: 4rem;
        }
    }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    a{
        font-size: .9rem;
    }
    .column1{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        #logo{
            width: 3.5rem;
            margin-bottom: 1rem;
            cursor: pointer;
        }
        .line{
            display: flex;
            gap: 1rem;
            img{
                width: 1.5rem;
            }
        }
    }
    .column2{
        list-style: none;
        display: flex;
        gap: 4rem;
        a{
            &:hover{
                font-weight: 700;
                color: $middle_clr;
            }
        }
    }
    .column3{
        .social{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            img{
                width: 1rem;
                &:hover{
                    animation: shake .5s;
                }
            }
            a{
                &:nth-child(1){
                    img{
                        width: .7rem;
                    }
                }
                &:nth-child(3){
                    img{
                        width: 1.2rem;
                    }
                }
            }
        }
        h5{
            font-size: 1rem;
            margin-top: 1rem;
            transition: all .5s ease;
            &:hover{
                animation: shake .5s;
            }
        }
    }   
}

// Responsive
@media only screen and (max-width: 415px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }
    .section, header, footer{
        padding: 2.5rem 2rem;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h4{
        line-height: 1.6;
    }
    p{
        font-size: .9rem;
    }
    h3{
        font-size: 1.3rem;
    }
    .button{
        padding: 1rem;
    }
    #nav{
        display: none;
    }
    #mobileNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #mobileNav-logo{
            img{
                width: 3rem;
            }
        }
        #mobileNav-btn{
            img{
                width: 1.3rem
            }
        }
        .mobileNav-menu{
            background-color: $dark_clr;
            position: absolute;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            justify-content: center;
            transform: translateY(-100vh);
            transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
            #close{
                width: 1.3rem;
                position: absolute;
                top: 3.5rem;
                right: 2rem;
            }
            .navLinks{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                list-style: none;
                a{
                    color: $light_clr;
                }
                li{
                    text-align: center;
                    font-size: 1.1rem;
                }
            }
            .callBtn{
                background-color: $middle_clr;
                padding: .5rem;
                border-radius: 50%;
                animation: scale 1.5s infinite;
                img{
                    animation: shake .5s infinite;
                    width: 2rem;
                }
            }
        }
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .hero-left{
            h1{
                margin-bottom: 2.5rem;
            }
            .cta{
                display: flex;
                justify-content: space-between;
                gap: inherit;
                margin-top: 2.5rem;
            }
        }
        .hero-right{
            .hero-image{
                img{
                    max-width: 100%;
                }
            }
        }
    }
    .sm{
        align-self: flex-start;
        img{
            height: 1rem;
            &:nth-child(3){
                height: .8rem;
            }
        }
    }
    #services{
        .services-header{
            flex-direction: column;
            justify-content: inherit;
            align-items: inherit;
            gap: 2rem;
            margin-bottom: 4rem;
            .services-description{
                p{
                    width: 100%;
                    float: inherit;
                }
            }
        }
        .services-cards{
            flex-direction: column;
            justify-content: center;
        }
        .goToTop{
            bottom: 2rem;
            right: 2rem;
        }
    }
    #projects{
        .projects-slideBtns{
            display: flex;
            justify-content: center;
            gap: 3rem;
            .navigationBtn{
                width: 2.5rem;
                height: 2.5rem;
                border: 1.8px solid $dark_clr;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all .5s ease;
                cursor: pointer;
                img{
                    width: .5rem;
                }
                &:hover{
                    background-color: white;
                }
            }
            .leftBtn{
                img{
                    transform: rotate(-180deg);
                }
            }
        }
        .projects-slider{
            width: 18rem;
            height: 11.5rem;
            border-radius: 18px;
        }
        .projects-infoSlider{
            width: 18rem;
            text-align: center;
        }
        .projects-info{
            flex-direction: column;
            justify-content: inherit;
            align-items: center;
            gap: 1rem;
        }
        .projects-cta{
            width: 18rem;
            margin-top: 0;
        }
    }
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        .slogan-hero{
            img{
                width: 80%;
            }
        }
        .slogan-description{
            flex-direction: column;
            align-items: center;
            text-align: center;
            p{
                width: 100%;
            }
        }
    }
    .testimonials{
        gap: 3rem;
        .testimonials-box{
            width: 100%;
            padding: 3rem 2rem;
            h3{
                font-size: 1rem;
                margin-bottom: .5rem;
            }
            h4{
                font-size: .8rem;
            }
            p{
                font-size: .8rem;
                margin-top: 1rem;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        .column1{
            align-items: center;
            gap: 2rem;
            #logo{
                width: 3rem;
            }
        }
        .column2{
            flex-direction: column;
            align-items: center;
            gap: 2.5rem;
        }
    }
}